# -----------------------
# Python
# -----------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------
# Virtual environments
# -----------------------
env/
venv/
.venv/

# -----------------------
# macOS
# -----------------------
.DS_Store

# -----------------------
# Prefect
# -----------------------
.prefect/
*.sqlite
*.db
logs/        

# -----------------------
# Airflow
# -----------------------
airflow/airflow.db      
airflow/logs/    
airflow/config/
airflow/*.cfg           
airflow/*.ini                 
airflow/docker-compose.yaml   

airflow/dags/*.log

# -----------------------
# AWS / secrets
# -----------------------
*.env
*.aws
